.circle {
  width: .8em;
  height: .8em;
  background: white;
  border-radius: 50%;
}
.pattern {
  background-color: #a1dddd;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  justify-items: center;
  align-items: center;
  z-index: 2;
  box-shadow: 4px 5px 5px 1px rgba(0, 0, 0, 0.24);
}